.disclaimer{
    padding-top: 20vh;
    padding-bottom: 5vh;
    color: black;
}

p{
    margin-bottom: 4vh;
}

h5{
    margin-bottom: 2vh;
}

a{
    word-wrap: break-word;
}

.large-word{
    word-wrap: break-word;
}