$smartphone2018-horizontal-height: 412px;

.navbar-brand{
    margin-left: 10vw;
}

.navbar-nav{
    margin-right: 10vw;
}

//.navbar.shrink {
//    background-color: $dark;
//    height: 5vh;
//}

.hero{   
    background:linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../img/img_awma/hero_bg_sized.jpg);
    
    height: 100vh; //viewport height full - page screen

    //covers the div size
    background-size: cover;
    background-position: bottom-center;

    //vh = viewport height
    padding-top: 20vh;
    padding-bottom: 20vh;
}


.hero-heading {
    font-size: 12vw;
    font-weight: 600;
    line-height: 1.2;
    
    //iphone adjustion
    @media screen and (max-height: $smartphone2018-horizontal-height) {
        font-size: 8vw;
        margin-bottom: 15vh;
    }
}

.hero-text{
    font-size: 1.5rem;
    font-weight: 600;

    @media screen and (max-height: $smartphone2018-horizontal-height) {
        font-size: 1.0rem;
        font-weight: 600;
    }
}

//to stretch flex-layout over the fullscreen section
.hero-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title-img{
    max-height: 27vw;
    min-height:  27vw;
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    border-radius:60%;
    overflow:hidden;
    //background-size: 80vh;
    //background-size: cover;
    
    //keeps the image rectangular

    @include media-breakpoint-down(sm){
        display: none;
    }
}

.about-text{
    padding-bottom:8vh;
    padding-top: 7vh;

    @include media-breakpoint-up(lg){
        //more padding because of the overlapping cards on md+
        padding-bottom: 16vh;
        padding-top: 8vh;
    }
}

.about-container{
    background: $body-bg2;
    border-bottom: solid 1px;
    border-top: solid 2px;
    border-color: white;
}

.band-members{
    border-top: 0px;

    //orientation coordinates for next absolute object
    position: relative;

    @include media-breakpoint-down(sm){
        padding-top: 10vh;
        //padding-bottom: 10vh;
    }    
}

.band-member{
    margin-bottom: 1.5em;
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    background: $body-bg;
    font-size: .9em;
    //only use logic if above md size
    @include media-breakpoint-up(md){
        //orientates at the nearest relative object or at the viewport 0,0 coordinates
        position: absolute;
        top: -1.5em;
        //absolute lets the following content flow over it so z-axis needs to be reset.
        z-index: 100;
        min-height: 33vh;
        max-width: 33vw;
        word-break: break-all;
    }
}

.band-member-name{
    font-family: $sans;
    text-transform: uppercase;
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    border: 0;
}

// .contact-info{
//     display: flex;
//     flex-direction: column;
//     background-color: $primary;

//     padding-top: 2vh;
//     padding-bottom: 2vh;
// }
 
.band-member-position{
    color: black;
}

.card-text:last-child {
    margin-bottom: 1.5em;
  }

.card-img{
    @include media-breakpoint-up(md){
        max-height: 35vmax;
    }

    max-height: 60vmax;
}

.bg-black{
    background: $black;
}

.music{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    @include media-breakpoint-up(md){
        margin-top: 5em;
        margin-bottom: 5em;    
    }
}

.music-container{
    background: $body-bg2;
    //add mixin
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.music-title{
    margin-bottom: .5em;
}

.music-cta{
    margin-top: 2em;
}

.contact{
    margin-top: 6vh;
}

.contact-heading{
    @include media-breakpoint-down(md){
        display:none;
    }
}

.contact-cards{
    margin-top: 2.5em;
    font-size: .9em;
}

.contact-info{
    display: flex;
    flex-direction: column;
    background-color: $primary;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

// //selects all direct descendends
// .contact-info > *{
//     margin-bottom: 0;
// }


.contact-text-spacer{
    margin-top: 5vh;
}