.navbar-brand{
    margin-left: 10vw;
}

.navbar-nav{
    margin-right: 10vw;
}

//.navbar.shrink {
//    background-color: $dark;
//    height: 5vh;
//}

.hero{   
    background:linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url(../img/img_awma/hero_bg_sized.jpg);
    
    height: 100vh; //viewport height full - page screen

    //covers the div size
    background-size: cover;
    background-position: bottom-center;

    //vh = viewport height
    padding-top: 20vh;
    padding-bottom: 25vh;
}

.about-title-img{
    max-height: 27vw;
    min-height:  27vw;
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    border-radius:60%;
    overflow:hidden;
    //background-size: 80vh;
    //background-size: cover;
    
    //keeps the image rectangular

    @include media-breakpoint-down(md){
        display: none;
    }
}

.about-text{
    padding-bottom: 6vh;
    padding-top: 6vh;

    @include media-breakpoint-up(md){
        //more padding because of the overlapping cards on md+
        padding-bottom: 15vh;
        padding-top: 10vh;
    }
}

.about-container{
    background: $body-bg2;
    border-bottom: solid 1px;
    border-top: solid 2px;
    border-color: white;
}

.band-members{
    border-top: 0px;

    position: relative;

    @include media-breakpoint-down(sm){
        padding-top: 10vh;
        //padding-bottom: 10vh;
    }
    
}

.band-member{
    margin-bottom: 1.5em;
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    background: $body-bg;
    //only use logic if above md size
    @include media-breakpoint-up(md){
        //orientates at the nearest relative object or at the viewport 0,0 coordinates
        position: absolute;
        top: -1.5em;
        //absolute lets the following content flow over it so z-axis needs to be reset.
        z-index: 100;
    }
}

.band-member-name{
    font-family: $sans;
    text-transform: uppercase;
    margin-top: 0.8em;
    margin-bottom: 0.25em;
    border: 0;
}
 
.band-member-position{
    color: black;
}

.card-text:last-child {
    margin-bottom: 1.5em;
  }

.card-img{
    @include media-breakpoint-up(md){
        max-height: 35vmax;
    }

    max-height: 60vmax;
}

.bg-black{
    background: $black;
}

.music{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    @include media-breakpoint-up(md){
        margin-top: 5em;
        margin-bottom: 5em;    
    }
}

.music-container{
    background: $body-bg2;
    //add mixin
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.music-title{
    margin-bottom: .5em;
}

.music-cta{
    margin-top: 2em;
}

.upcoming-shows{
    margin-top: 2em;
}

.shows{
    margin-top: 2em;
    font-size: .9em;
}

.show-title{
    font-family: $sans;
}

.show-info{
    display: flex;
    flex-direction: column;
}

//selects all direct descendends
.show-info > *{
    margin-bottom: 0;
}

.contact-text{
    font-weight: $_bold;
    margin-top: 3vh;
    font-size: 1.25em;
}


.contact-address{
    margin-top: 5vh;
}

.contact-action-text{
    font-weight: $_extra_bold;
    margin-top: 3vh;
    font-size: 1.5em;
}
/*.date{
    font-weight: $_bold;
    margin-top: 1.25em;

    &::before{
        content: '\f133';
        font-family: FontAwesome;
        //inline block for positioning inside the row
        display: inline-block;
        margin-right: 7px;
        font-size: .9em;
    }
}

.price{
    font-weight: $_bold;

    small{
        font-weight: $_normal;
    }

    &::before{
        content: '\f145';
        font-family: FontAwesome;
        //inline block for positioning inside the row
        display: inline-block;
        margin-right: 7px;
        font-size: .9em;
    }
}*/