.hero{   
    background-image: url(../img/hero-bg.jpg);
    //height: 100vh; //viewport height full - page screen

    //covers the div size
    background-size: cover;
    background-position: bottom-center;

    //vh = viewport height
    padding-top: 20vh;
    padding-bottom: 25vh;
}

.about-title{
    background-image: url(../img/about-bg.jpg);
    background-size: cover;
    background-position: center;
    //keeps the image rectangular
    min-height: 45vw;
}

.about-text{
    padding-bottom: 6vh;
    padding-top: 6vh;

    @include media-breakpoint-up(md){
        //more padding because of the overlapping cards on md+
        padding-bottom: 15vh;
        padding-top: 10vh;
    }
}

.about-container{
    background: $black;
}

.band-members{
    position: relative;
}

.band-member{
    margin-bottom: 1.5em;
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    background: $black;
    //only use logic if above md size
    @include media-breakpoint-up(md){
        //orientates at the nearest relative object or at the viewport 0,0 coordinates
        position: absolute;
        top: -2.5em;
        //absolute lets the following content flow over it so z-axis needs to be reset.
        z-index: 100;
    }
}

.band-member-name{
    font-family: $sans;
    text-transform: uppercase;
    margin-top: 0.8em;
    margin-bottom: 0.25em;
}
 
.band-member-position{
    color: $gray-light;
}

.card-text:last-child {
    margin-bottom: 1.5em;
  }

.card-img{
    @include media-breakpoint-up(md){
        max-height: 35vmax;
    }

    max-height: 60vmax;
}

.bg-black{
    background: $black;
}

.music{
    margin-top: 5em;
    margin-bottom: 5em;
}

.music-container{
    background: $black;
    //add mixin
    box-shadow: 6px 6px 15px 0 rgba(0,0,0,0.5);
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.music-title{
    margin-bottom: .5em;
}

.music-cta{
    margin-top: 2em;
}

.shows{
    margin-top: 2em;
    font-size: .9em;
}

.show-title{
    font-family: $sans;
}

.show-info{
    display: flex;
    flex-direction: column;
}

//selects all direct descendends
.show-info > *{
    margin-bottom: 0;
}

.date{
    font-weight: $_bold;
    margin-top: 1.25em;

    &::before{
        content: '\f133';
        font-family: FontAwesome;
        //inline block for positioning inside the row
        display: inline-block;
        margin-right: 7px;
        font-size: .9em;
    }
}

.price{
    font-weight: $_bold;

    small{
        font-weight: $_normal;
    }

    &::before{
        content: '\f145';
        font-family: FontAwesome;
        //inline block for positioning inside the row
        display: inline-block;
        margin-right: 7px;
        font-size: .9em;
    }
}