footer{
    margin-top: 4em;
    background: $body-bg2;
    padding: 2em 0 1.5em;
    text-align: center;
    @include media-breakpoint-up(lg){
        text-align: left;
    }
}

.social-link a{
    color: white;
    display: inline-block;
    margin: 0 0.5em 0 2.3em;
}

.social-links{
    justify-content: center;
}

.social-list{
    @include media-breakpoint-up(sm){
        margin-left: auto;
    }
}

.fb ::before{
    font-family: FontAwesome;
    content: '\f082';
    font-size: 50px;
}

.gplus ::before{
    font-family: FontAwesome;
    content: '\f0d4';
    font-size: 50px;
}

a{
    font-size: 0.9em;
}