.parallax{
    display: none;
    @include media-breakpoint-up(md){
        height: 30vmax;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: block;
    }
    
}

.parallax-home{
    background-image: url(../img/parallax-home.jpg);
}