body{
    //padding-top: 71px; //the height of the fixed nav-bar +8
    
    font-family: $sans;
    font-weight: $_light;
}

h1,h2,h3,h4,h5,h6{
    font-family: $header-font;
}

h1{
    color: $primary;
}

.nav-link{
    font-weight: $_extra_bold;
}

.company-name{
    font-weight: $_bold;   
}

.lead{
    margin-bottom: 2.1em;
}

.skills-list{
    list-style-type: none;
 }
 
 .skills-list li::before{
     font-family: FontAwesome;
     content: '\f00c';
     margin:0 5px 0 -15px;
 }

 .services-list{
     list-style-type: none;
 }

 .services-list li{
     color: $black;
     content: '\f12e';
     margin:0 0 0 -25px;
 }