//Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lobster');

$sans: "Raleway", sans-serif;
$decorative: "Lobster", cursive;
$header-font: $decorative;


$_light: 300;
$_normal: 400;
$_bold: 700;